body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: darkolivegreen;
    margin-top: 10px; 
    border: 5px solid rgb(29, 73, 40);
    height: 840px;
}
h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}
form {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 25px;
}
input[type="text"] {
    padding: 10px;
    width: 250px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #1c1b1b;
}
button {
    padding: 10px 14px;
    font-size: 16px;
    background-color: #9DC183;
    color: black;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
button:hover {
    background-color: #224b39;
}
.todo-list {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 50px;   
    width: 100%;
    max-width: 200px;
    background: #1c1b1b;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0,1);
    margin-bottom: 20px;
}
.todo-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;  
}
.todo-list li {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    gap: 10px; 
    width: 300px;
    padding: 10px 16px;
    margin-bottom: 14px;
    background: white;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.todo-list li span {
    flex-grow: 1;          
    white-space: nowrap;  
    overflow: hidden;
    text-overflow: ellipsis;
}
.todo-list span.done {
    text-decoration: line-through;
    color: gray;
}
.todo-list button {
    background: #e17f74;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}
.todo-list button:hover {
    background: #c0392b;
}