* {
    box-sizing: border-box;
}
body {
    font-family: Caveat Brush;
    background-color: darkolivegreen;
    font-size: 1.5rem;
    margin-top: 10px; 
    border: 5px solid rgb(29, 73, 40);
    border-radius: 25px;
    min-height: 95vh;
}
h1 {
    text-align: center;
    font-family: Caveat Brush;
    font-size: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}
form {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 25px;
}
input[type="text"] {
    padding: 10px;
    width: 250px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #1c1b1b;
}
button {
    padding: 10px 14px;
    font-size: 16px;
    background-color: #9DC183;
    color: black;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
button:hover {
    background-color: #224b39;
}    
.todo-lists {
    display: flex;
    margin-top: 50px;   
    width: 70%;
    background: #6e2b2b;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0,1);
    margin-bottom: 20px;
    margin: auto;
    border: 3px solid rgb(238, 139, 139);
    padding: 10px;
    min-height: 65%;
    justify-content: space-between;
}
.todo-list {
    display: flex;
    flex-direction: column;
    align-items: center; 
    flex-basis: 30%;
}
.todo-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;  
}
.todo-list li {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    gap: 10px; 
    width: 100%;
    padding: 10px 16px;
    margin-bottom: 14px;
    background: white;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.todo-list li span {
    flex-grow: 1;          
    white-space: nowrap;  
    overflow: hidden;
    text-overflow: ellipsis;
}
.todo-list span.done {
    text-decoration: line-through;
    color: gray;
}
.todo-list button {
    background: #e17f74;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}
.todo-list button:hover {
    background: #c0392b;
}

@media screen and (max-width: 1024px) {
    .todo-lists {
        width: 94%;
    }
}

@media screen and (max-width: 768px) {
    .todo-lists {
        display: block;
    }
}